.signUpContainer {
  margin-top: 5%;
  padding-bottom: 25%;
}
@media screen and (max-width: 1440px) {
}
@media screen and (max-width: 1024px) {
  .signUpContainer {
    padding-bottom: 50%;
  }
}
@media screen and (max-width: 768px) {
  .signUpContainer {
    padding-bottom: 80%;
  }
}
@media screen and (max-width: 426px) {
  .signUpContainer {
    padding-bottom: 105%;
  }
}
@media screen and (max-width: 376px) {
  .signUpContainer {
    padding-bottom: 125%;
  }
}
@media screen and (max-width: 321px) {
  .signUpContainer {
    padding-bottom: 165%;
  }
}
